<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>JadeJade</title>

    <meta name="keywords" content="python,jade,博客,个人网页,计算机知识"/>


    <link href="{% static 'css/index/index.css' %}" rel="stylesheet" type="text/css"/>

    <link rel="shortcut icon" href="{% static 'uploadimg/index/favicon.ico' %}">

    <script type="text/javascript" src="{% static 'js/stats.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

    <meta property="qc:admins" content="2436126767655644"/>
</head>

<body>
<div style="height:35px; font-size:14px; background-color:#F6F6F6; border-bottom:1px solid #F0F0F0;">

    <div id="header">
        <div class="ih_fl"><a href="{% url 'jadejade:siteNotice' %}">公告</a> | <a
                href="{% url 'jadejade:helpCenter' %}">帮助</a> |
            <a href="{% url 'jadejade:aboutJadeJade' %}">关于</a></div>

        {% if uname %}
            <span class="ih_fr">{{ uname }}[<a href="{% url 'jadejade:userdetail' %}">用户中心</a> | <a href="{% url 'jadejade:logout' %}">退出</a>]</span>
        {% else %}
            <span class="ih_fr"><a href="{% url 'jadejade:sign_in' %}">登录</a> | <a href="{% url 'jadejade:sign_up' %}">注册</a></span>
        {% endif %}


    </div>


</div>
<div id="main">
    <p id="logo"><img src="{% static 'uploadimg/index/logo_index.png' %}" width="237" height="70" alt="Me.TL"
                      title="JadeJade"/></p>

    <div class="domainSearchDiv">
        <div class="domainSearchHolder">
            <div class="domainSearchBox">
                <input autocomplete="off" id="domain" class="searchInput" type="text" maxlength="63" value="搜索框"
                       onfocus="setnull()" onblur="checknull()"/>



            </div>
            <div class="domainSearchButton">
                <input id="button_a" type="button" class="g-btn-prg" onclick="showregchk()" value="搜索"/>
            </div>
        </div>
        <br/><br/><br/>
    </div>
    <div style="text-align:center;">

        <div class="Searchinfo" id="query_info" style="font-weight:bold;">请勿将本站提供的内容用于非法用途！</div>
        <script src="{% static 'js/search.js' %}" type="text/javascript"></script>





        <div class="banner">
            <ul>
                <li style="background-color:#C03"><br/>简短、易记</li>
                <li style="background-color:#F60">支持中文<br/>时尚、直观</li>
                <li style="background-color:#390">可编辑单页<br/>便捷、高效</li>

                <li class="gonggao" style="background-color:#06F;width:200px; padding:5px 3px 5px 3px; height:80px;">
                    <h1>最新公告</h1>

                    <ul>
                        <li><a href="#">网站新增</a></li>
                        <li><a href="#">因为网站迁移至...</a></li>
                    </ul>

                </li>

            </ul>


        </div>


        <div class="footer">


            <div class="bottom">
                Copyright &copy; 2019 JadeJade(<a href="{% url 'jadejade:index' %}">JadeJade.club</a>)

                <br/>

            </div>


        </div>

</body>
</html>
